
<% content_for :header do %>


<% end %>

<% content_for :body do %>

<div class='subreddit-title'>
	total for /r/<%= subreddit %>
</div>

<div class='so-counter-list'>

	<div class='so-counter-block'>
		<div class='so-counter'> $<%= count_data.round.commas %> </div>
		<div class='so-label'> since <span><%= start_date.strftime '%-d %B %Y' %></span> </div>
	</div>

	<div class='clear'></div>

</div>

<div class='clear'></div>

<% end %>